@page
@model EMedicalClaimRefundSystem.Pages.SucessfullChangesPopModel
@{
    ViewData["Title"] = "SucessfullChangesPop";
    Layout = "~/Pages/Shared/_PopupLayout.cshtml";
}

<h1>Updated Sucessfully!</h1>

